.search-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.teacher-input {
  display: block;
  padding: 10px;
  border: 1px solid #a0a0a0;
  border-left: 0;
  border-radius: 0 15px 15px 0;
  font-size: 16px;
  width: 60%;
  height: 37px;
}

.fa-search {
  border: 1px solid #a0a0a0;
  padding: 10px;
  border-right: 0;
  border-radius: 15px 0 0 15px;
  height: 37px;
}

@media screen and (max-width: 510px) {
  .teacher-input {
    width: calc(100% - 50px);
  }
}